/* Universal styles */
* {
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Container styling */
.container {
    max-width: 1300px;
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    flex-wrap: wrap;
    margin-inline: auto;
}

/* Image container styling */
.img-container {
    width: 300px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    border-radius: 10px;
}

/* Image styling */
.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

/* Hover effect for image container */
.img-container:hover {
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 12px;
}

/* Instruction styling */
.instruction {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

/* Heading styling */
h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Selected image container styling */
.selected-img-container {
    overflow: hidden;
    border-radius: 10px; /* Apply border-radius to container */
    margin-inline: auto;
    display: flex; /* Ensure the container uses flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    max-width: 100%; /* Optional: Ensure it doesn't exceed parent width */
}

/* Selected image styling */
.selected-img-container img {
    object-fit: cover;
    border-radius: inherit;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.p{
    text-align: center;
    /* display: none; */
}