
main h1{
    text-align: center;
    
}

.container{
    max-width: 1200px;
    margin-inline: auto;
    text-align: center;
    font-size: 20px;
    
    
}

.author{
    text-decoration: underline;
}


.loader {
    position: fixed;
    top: 20%;
    left: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #767676;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }